In [22]:
# Import pandas 
import pandas as pd

# Use pandas to read in recent_grads.csv
sales_data_na = pd.read_csv('sales_data_na.csv')

# Print the shape
print(sales_data_na)

              Date  Day     Month  Year  Customer_Age       Age_Group  \
0       11/26/2013   26  November  2013          19.0     Youth (<25)
1       11/26/2015   26       NaN  2015          19.0             NaN
2        3/23/2014   23     March  2014           NaN  Adults (35-64)
3        3/23/2016   23     March  2016          49.0  Adults (35-64)
4        5/15/2014   15       May  2014          47.0  Adults (35-64)
...            ...  ...       ...   ...           ...             ...
113032   4/12/2016   12     April  2016          41.0  Adults (35-64)
113033    4/2/2014    2     April  2014          18.0     Youth (<25)
113034    4/2/2016    2     April  2016          18.0     Youth (<25)
113035    3/4/2014    4     March  2014          37.0  Adults (35-64)
113036    3/4/2016    4     March  2016          37.0  Adults (35-64)

       Customer_Gender         Country             State Product_Category  \
0                    M          Canada  British Columbia      Accessories
1                    M          Canada  British Columbia      Accessories
2                    M       Australia               NaN      Accessories
3                    M       Australia   New South Wales      Accessories
4                    F       Australia   New South Wales      Accessories
...                ...             ...               ...              ...
113032               M  United Kingdom           England         Clothing
113033               M       Australia        Queensland         Clothing
113034               M       Australia        Queensland         Clothing
113035               F          France     Seine (Paris)         Clothing
113036               F          France     Seine (Paris)         Clothing

       Sub_Category              Product  Order_Quantity  Unit_Cost  \
0        Bike Racks                  NaN               8       45.0
1        Bike Racks  Hitch Rack - 4-Bike               8       45.0
2        Bike Racks  Hitch Rack - 4-Bike              23       45.0
3        Bike Racks  Hitch Rack - 4-Bike              20       45.0
4        Bike Racks  Hitch Rack - 4-Bike               4       45.0
...             ...                  ...             ...        ...
113032        Vests      Classic Vest, S               3       24.0
113033        Vests      Classic Vest, M              22       24.0
113034        Vests      Classic Vest, M              22       24.0
113035        Vests      Classic Vest, L              24       24.0
113036        Vests      Classic Vest, L              23       24.0

        Unit_Price  Profit    Cost  Revenue
0            120.0   590.0     NaN    950.0
1              NaN   590.0   360.0    950.0
2            120.0  1366.0  1035.0      NaN
3            120.0  1188.0   900.0   2088.0
4            120.0   238.0   180.0    418.0
...            ...     ...     ...      ...
113032        64.0   112.0    72.0    184.0
113033        64.0   655.0   528.0   1183.0
113034        64.0   655.0   528.0   1183.0
113035        64.0   684.0   576.0   1260.0
113036        64.0   655.0   552.0   1207.0

[113037 rows x 18 columns]

In [23]:
# Print .dtypes
print(sales_data_na.dtypes)

# Output summary statistics
print(sales_data_na.describe())

# Exclude data of type object
print(sales_data_na.select_dtypes(exclude='object'))

Date                 object
Day                   int64
Month                object
Year                  int64
Customer_Age        float64
Age_Group            object
Customer_Gender      object
Country              object
State                object
Product_Category     object
Sub_Category         object
Product              object
Order_Quantity        int64
Unit_Cost           float64
Unit_Price          float64
Profit              float64
Cost                float64
Revenue             float64
dtype: object
                 Day           Year   Customer_Age  Order_Quantity  \
count  113037.000000  113037.000000  113036.000000   113037.000000
mean       15.665817    2014.401727      35.919052       11.912073
std         8.781555       1.272512      11.021877       10.193974
min         1.000000    2011.000000      17.000000        1.000000
25%         8.000000    2013.000000      28.000000        2.000000
50%        16.000000    2014.000000      35.000000       10.000000
75%        23.000000    2016.000000      43.000000       20.000000
max        31.000000    2016.000000      87.000000     1200.000000

           Unit_Cost     Unit_Price         Profit           Cost  \
count  113034.000000  113036.000000  113034.000000  113036.000000
mean      267.305519     452.942142     285.044004     469.318553
std       549.838521     922.070724     453.885954     884.866136
min         1.000000       2.000000     -30.000000       1.000000
25%         2.000000       5.000000      29.000000      28.000000
50%         9.000000      24.000000     101.000000     108.000000
75%        42.000000      70.000000     358.000000     432.000000
max      2171.000000    3578.000000   15096.000000   42978.000000

             Revenue
count  113032.000000
mean      754.336940
std      1309.101194
min         2.000000
25%        63.000000
50%       222.500000
75%       800.000000
max     58074.000000
        Day  Year  Customer_Age  Order_Quantity  Unit_Cost  Unit_Price  \
0        26  2013          19.0               8       45.0       120.0
1        26  2015          19.0               8       45.0         NaN
2        23  2014           NaN              23       45.0       120.0
3        23  2016          49.0              20       45.0       120.0
4        15  2014          47.0               4       45.0       120.0
...     ...   ...           ...             ...        ...         ...
113032   12  2016          41.0               3       24.0        64.0
113033    2  2014          18.0              22       24.0        64.0
113034    2  2016          18.0              22       24.0        64.0
113035    4  2014          37.0              24       24.0        64.0
113036    4  2016          37.0              23       24.0        64.0

        Profit    Cost  Revenue
0        590.0     NaN    950.0
1        590.0   360.0    950.0
2       1366.0  1035.0      NaN
3       1188.0   900.0   2088.0
4        238.0   180.0    418.0
...        ...     ...      ...
113032   112.0    72.0    184.0
113033   655.0   528.0   1183.0
113034   655.0   528.0   1183.0
113035   684.0   576.0   1260.0
113036   655.0   552.0   1207.0

[113037 rows x 9 columns]

In [24]:
import numpy as np
import datetime 

# Take a look at the dtypes
print(sales_data_na['Month'].dtypes)

# Find how nan and incorrect values are represented
print(sales_data_na['Month'].unique())

# Replace nan and incorrect values with the correct month name
sales_data_na['Month'] = pd.to_datetime(sales_data_na['Date']).dt.strftime('%B')

# Find how nan and incorrect values are represented
print(sales_data_na['Month'].unique())

object
['November' nan 'March' 'May' 'February' 'July' 'August' 'September'
 'January' 'December' 'June' 'October' 'Aogust' 'April' 'Marsh' 'Jone'
 'Joly']
['November' 'March' 'May' 'February' 'July' 'August' 'September' 'January'
 'December' 'June' 'October' 'April']

In [25]:
# Take a look at the dtypes
print(sales_data_na['Cost'].dtypes)

# Find how missing values are represented
print(sales_data_na['Cost'].unique())

# Replace missing values with correct value Cost = Order_Quantity * Unit Cost
sales_data_na.loc[pd.isnull(sales_data_na['Cost']), 'Cost'] = sales_data_na['Order_Quantity'] * sales_data_na['Unit_Cost']
    
# Find how missing values are represented
print(sales_data_na['Cost'].unique())

float64
[       nan 3.6000e+02 1.0350e+03 9.0000e+02 1.8000e+02 2.2500e+02
 9.0000e+01 9.9000e+02 9.4500e+02 3.1500e+02 4.5000e+01 2.7000e+02
 4.0500e+02 1.3500e+02 1.0800e+03 1.1250e+03 4.5000e+02 4.9500e+02
 5.4000e+02 6.3000e+02 1.2600e+03 1.2150e+03 6.7500e+02 5.8500e+02
 7.6500e+02 7.2000e+02 1.3500e+03 1.3050e+03 1.1700e+03 8.5500e+02
 8.1000e+02 5.9000e+02 4.7200e+02 4.1300e+02 5.3100e+02 3.5400e+02
 2.3600e+02 1.1800e+02 5.9000e+01 1.7700e+02 2.9500e+02 6.4900e+02
 7.0800e+02 1.2000e+01 6.0000e+01 5.2000e+01 3.2000e+01 5.6000e+01
 4.4000e+01 4.0000e+01 3.4000e+01 2.0000e+01 2.4000e+01 5.4000e+01
 4.8000e+01 5.0000e+01 3.0000e+01 2.8000e+01 5.8000e+01 8.0000e+00
 6.6000e+01 1.8000e+01 5.7000e+01 3.6000e+01 1.4000e+01 3.8000e+01
 4.0000e+00 8.8000e+01 1.1600e+02 1.0400e+02 6.9000e+01 7.5000e+01
 9.3000e+01 3.9000e+01 6.3000e+01 3.0000e+00 6.0000e+00 1.6000e+01
 1.0000e+01 7.2000e+01 8.0000e+01 1.2000e+02 1.1200e+02 9.2000e+01
 2.0000e+00 2.2000e+01 2.6000e+01 4.2000e+01 4.6000e+01 2.7000e+01
 8.4000e+01 3.3000e+01 1.5000e+01 1.0800e+02 9.6000e+01 9.0000e+00
 2.1000e+01 1.0000e+02 6.8000e+01 8.7000e+01 8.1000e+01 5.1000e+01
 6.2000e+01 7.8000e+01 7.6000e+01 6.4000e+01 1.2800e+02 1.2400e+02
 1.4700e+02 1.5400e+02 9.1000e+01 7.0000e+01 1.8200e+02 1.7500e+02
 1.6800e+02 1.1900e+02 1.8900e+02 1.0500e+02 1.9600e+02 7.7000e+01
 1.6100e+02 1.2600e+02 2.0300e+02 9.8000e+01 7.0000e+00 1.3300e+02
 2.1000e+02 1.4000e+02 4.9000e+01 3.5000e+01 2.1700e+02 2.2400e+02
 1.4400e+02 1.9200e+02 2.0800e+02 1.8400e+02 2.0000e+02 2.1600e+02
 1.5200e+02 1.3600e+02 1.7600e+02 2.4000e+02 2.5600e+02 2.3200e+02
 2.4800e+02 1.6000e+02 1.1700e+02 1.7100e+02 9.9000e+01 2.6100e+02
 2.7900e+02 1.9800e+02 2.0700e+02 2.5200e+02 1.5300e+02 2.4300e+02
 1.6200e+02 2.3400e+02 2.8800e+02 3.7700e+02 3.6400e+02 1.5600e+02
 2.9900e+02 2.7300e+02 1.4300e+02 2.6000e+02 2.8600e+02 2.4700e+02
 1.6900e+02 3.1200e+02 3.5100e+02 3.9000e+02 6.5000e+01 1.9500e+02
 1.3000e+02 1.3000e+01 3.3800e+02 3.2500e+02 4.0300e+02 2.2100e+02
 4.1600e+02 5.8800e+02 6.0900e+02 2.3100e+02 2.9400e+02 4.2000e+02
 3.5700e+02 5.6700e+02 4.6200e+02 5.2500e+02 3.9900e+02 4.4100e+02
 3.3600e+02 5.4600e+02 5.0400e+02 4.8300e+02 6.5100e+02 3.7800e+02
 6.7200e+02 9.2400e+02 7.9800e+02 1.0500e+03 1.1760e+03 1.2180e+03
 1.1340e+03 8.4000e+02 8.8200e+02 7.1400e+02 4.5600e+02 3.8000e+02
 4.1800e+02 4.9400e+02 9.6600e+02 7.5600e+02 3.4200e+02 1.1400e+02
 1.1400e+03 1.2160e+03 9.1200e+02 9.5000e+02 6.8400e+02 6.4600e+02
 1.0080e+03 1.0920e+03 2.6600e+02 1.9000e+02 8.3600e+02 1.3020e+03
 5.3200e+02 6.0800e+02 3.0400e+02 1.0260e+03 7.6000e+02 9.8800e+02
 8.7400e+02 1.0640e+03 2.2800e+02 5.7000e+02 1.1020e+03 1.1780e+03
 7.2200e+02 1.3440e+03 1.9120e+03 3.8240e+03 5.7360e+03 1.8980e+03
 5.6940e+03 3.7960e+03 7.5920e+03 1.2660e+03 2.5320e+03 1.2520e+03
 3.7560e+03 2.5040e+03 3.7980e+03 3.0800e+02 6.1600e+02 5.0080e+03
 5.0640e+03 1.1800e+03 8.8500e+02 1.2320e+03 1.6800e+03 7.6480e+03
 4.3420e+03 2.1710e+03 8.6840e+03 6.5130e+03 3.4400e+02 1.0320e+03
 6.8800e+02 1.0830e+03 3.2490e+03 2.1660e+03 3.1100e+03 4.6650e+03
 1.5550e+03 1.4260e+03 7.1300e+02 2.1390e+03 2.8520e+03 6.2200e+03
 1.3760e+03 3.0380e+03 1.5190e+03 6.0760e+03 4.5570e+03 4.3320e+03
 9.7400e+02 4.8700e+02 1.9480e+03 1.4610e+03 4.6800e+02 6.7600e+02
 7.0200e+02 7.8000e+02 8.0600e+02 5.7200e+02 6.2400e+02 5.9800e+02
 6.5000e+02 4.4200e+02 5.2000e+02 7.2800e+02 7.5400e+02 8.3200e+02
 1.1000e+01 2.9000e+01 2.5000e+01 1.9000e+01 1.0000e+00 1.7000e+01
 2.3000e+01 5.0000e+00 2.2000e+02 1.1000e+02 1.2100e+02 5.5000e+01
 3.1000e+01 2.7500e+02 2.5300e+02 2.6400e+02 2.9700e+02 1.3200e+02
 2.0900e+02 2.4200e+02 1.6500e+02 3.3000e+02 3.1900e+02 3.5200e+02
 2.0400e+02 3.0000e+02 3.8400e+02 2.7600e+02 3.2400e+02 1.8700e+02
 3.4800e+02 3.4100e+02 3.7200e+02 1.4820e+03 2.9640e+03 4.4460e+03
 4.6100e+02 1.3830e+03 9.2200e+02 7.5500e+02 1.5100e+03 2.2650e+03
 4.0014e+04 4.2978e+04 6.0000e+02 5.5200e+02 5.7600e+02 5.2800e+02
 4.3200e+02 6.9600e+02 4.0800e+02 6.4800e+02 7.6800e+02 4.8000e+02
 7.4400e+02]
[3.6000e+02 1.0350e+03 9.0000e+02 1.8000e+02 2.2500e+02 9.0000e+01
 9.9000e+02 9.4500e+02 3.1500e+02 4.5000e+01 2.7000e+02 4.0500e+02
 1.3500e+02 1.0800e+03 1.1250e+03 4.5000e+02 4.9500e+02 5.4000e+02
 6.3000e+02 1.2600e+03 1.2150e+03 6.7500e+02 5.8500e+02 7.6500e+02
 7.2000e+02 1.3500e+03 1.3050e+03 1.1700e+03 8.5500e+02 8.1000e+02
 5.9000e+02 4.7200e+02 4.1300e+02 5.3100e+02 3.5400e+02 2.3600e+02
 1.1800e+02 5.9000e+01 1.7700e+02 2.9500e+02 6.4900e+02 7.0800e+02
 1.2000e+01 6.0000e+01 5.2000e+01 3.2000e+01 5.6000e+01 4.4000e+01
 4.0000e+01 3.4000e+01 2.0000e+01 2.4000e+01 5.4000e+01 4.8000e+01
 5.0000e+01 3.0000e+01 2.8000e+01 5.8000e+01 8.0000e+00 6.6000e+01
 1.8000e+01 5.7000e+01 3.6000e+01 1.4000e+01 3.8000e+01 4.0000e+00
 8.8000e+01 1.1600e+02 1.0400e+02 6.9000e+01 7.5000e+01 9.3000e+01
 3.9000e+01 6.3000e+01 3.0000e+00 6.0000e+00 1.6000e+01 1.0000e+01
 7.2000e+01 8.0000e+01 1.2000e+02 1.1200e+02 9.2000e+01 2.0000e+00
 2.2000e+01 2.6000e+01 4.2000e+01 4.6000e+01 2.7000e+01 8.4000e+01
 3.3000e+01 1.5000e+01 1.0800e+02 9.6000e+01 9.0000e+00 2.1000e+01
 1.0000e+02 6.8000e+01 8.7000e+01 8.1000e+01 5.1000e+01 6.2000e+01
 7.8000e+01 7.6000e+01 6.4000e+01 1.2800e+02 1.2400e+02 1.4700e+02
 1.5400e+02 9.1000e+01 7.0000e+01 1.8200e+02 1.7500e+02 1.6800e+02
 1.1900e+02 1.8900e+02 1.0500e+02 1.9600e+02 7.7000e+01 1.6100e+02
 1.2600e+02 2.0300e+02 9.8000e+01 7.0000e+00 1.3300e+02 2.1000e+02
 1.4000e+02 4.9000e+01 3.5000e+01 2.1700e+02 2.2400e+02 1.4400e+02
 1.9200e+02 2.0800e+02 1.8400e+02 2.0000e+02 2.1600e+02 1.5200e+02
 1.3600e+02 1.7600e+02 2.4000e+02 2.5600e+02 2.3200e+02 2.4800e+02
 1.6000e+02 1.1700e+02 1.7100e+02 9.9000e+01 2.6100e+02 2.7900e+02
 1.9800e+02 2.0700e+02 2.5200e+02 1.5300e+02 2.4300e+02 1.6200e+02
 2.3400e+02 2.8800e+02 3.7700e+02 3.6400e+02 1.5600e+02 2.9900e+02
 2.7300e+02 1.4300e+02 2.6000e+02 2.8600e+02 2.4700e+02 1.6900e+02
 3.1200e+02 3.5100e+02 3.9000e+02 6.5000e+01 1.9500e+02 1.3000e+02
 1.3000e+01 3.3800e+02 3.2500e+02 4.0300e+02 2.2100e+02 4.1600e+02
 5.8800e+02 6.0900e+02 2.3100e+02 2.9400e+02 4.2000e+02 3.5700e+02
 5.6700e+02 4.6200e+02 5.2500e+02 3.9900e+02 4.4100e+02 3.3600e+02
 5.4600e+02 5.0400e+02 4.8300e+02 6.5100e+02 3.7800e+02 6.7200e+02
 9.2400e+02 7.9800e+02 1.0500e+03 1.1760e+03 1.2180e+03 1.1340e+03
 8.4000e+02 8.8200e+02 7.1400e+02 4.5600e+02 3.8000e+02 4.1800e+02
 4.9400e+02 9.6600e+02 7.5600e+02 3.4200e+02 1.1400e+02 1.1400e+03
 1.2160e+03 9.1200e+02 9.5000e+02 6.8400e+02 6.4600e+02 1.0080e+03
 1.0920e+03 2.6600e+02 1.9000e+02 8.3600e+02 1.3020e+03 5.3200e+02
 6.0800e+02 3.0400e+02 1.0260e+03 7.6000e+02 9.8800e+02 8.7400e+02
 1.0640e+03 2.2800e+02 5.7000e+02 1.1020e+03 1.1780e+03 7.2200e+02
 1.3440e+03 1.9120e+03 3.8240e+03 5.7360e+03 1.8980e+03 5.6940e+03
 3.7960e+03 7.5920e+03 1.2660e+03 2.5320e+03 1.2520e+03 3.7560e+03
 2.5040e+03 3.7980e+03 3.0800e+02 6.1600e+02 5.0080e+03 5.0640e+03
 1.1800e+03 8.8500e+02 1.2320e+03 1.6800e+03 7.6480e+03 4.3420e+03
 2.1710e+03 8.6840e+03 6.5130e+03 3.4400e+02 1.0320e+03 6.8800e+02
 1.0830e+03 3.2490e+03 2.1660e+03 3.1100e+03 4.6650e+03 1.5550e+03
 1.4260e+03 7.1300e+02 2.1390e+03 2.8520e+03 6.2200e+03 1.3760e+03
 3.0380e+03 1.5190e+03 6.0760e+03 4.5570e+03 4.3320e+03 9.7400e+02
 4.8700e+02 1.9480e+03 1.4610e+03 4.6800e+02 6.7600e+02 7.0200e+02
 7.8000e+02 8.0600e+02 5.7200e+02 6.2400e+02 5.9800e+02 6.5000e+02
 4.4200e+02 5.2000e+02 7.2800e+02 7.5400e+02 8.3200e+02 1.1000e+01
 2.9000e+01 2.5000e+01 1.9000e+01 1.0000e+00 1.7000e+01 2.3000e+01
 5.0000e+00 2.2000e+02 1.1000e+02 1.2100e+02 5.5000e+01 3.1000e+01
 2.7500e+02 2.5300e+02 2.6400e+02 2.9700e+02 1.3200e+02 2.0900e+02
 2.4200e+02 1.6500e+02 3.3000e+02 3.1900e+02 3.5200e+02 2.0400e+02
 3.0000e+02 3.8400e+02 2.7600e+02 3.2400e+02 1.8700e+02 3.4800e+02
 3.4100e+02 3.7200e+02 1.4820e+03 2.9640e+03 4.4460e+03 4.6100e+02
 1.3830e+03 9.2200e+02 7.5500e+02 1.5100e+03 2.2650e+03 4.0014e+04
 4.2978e+04 6.0000e+02 5.5200e+02 5.7600e+02 5.2800e+02 4.3200e+02
 6.9600e+02 4.0800e+02 6.4800e+02 7.6800e+02 4.8000e+02 7.4400e+02]

In [27]:
# Take a look at the dtypes
print(sales_data_na['Revenue'].dtypes)

# Find how missing values are represented
print(sales_data_na['Revenue'].unique())

# Replace missing values with correct value Revenue = Cost + Profit
sales_data_na.loc[pd.isnull(sales_data_na['Revenue']), 'Revenue'] = sales_data_na['Cost'] * sales_data_na['Profit']
    
# Find how missing values are represented
print(sales_data_na['Revenue'].unique())

float64
[ 950.   nan 2088. ... 1905. 1488. 1428.]
[9.50000e+02 1.41381e+06 2.08800e+03 ... 1.90500e+03 1.48800e+03
 1.42800e+03]